body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin: 50px 0;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;

}

#outer {
    width: 600px;
    margin: 0 auto;    
}

.player {
    cursor: pointer;
    padding: 5px;
}

.player .name {
    display: inline-block;
    width: 400px;
    font-size: 1.75em;
}
.player .bio {
    display: inline-block;
    width: 100px;
    font-size: 1.75em;
}
.player .pic {
    display: inline-block;
    width: 100px;
}
.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    /* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #55EFCB 0%, #5BCAFF 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #55EFCB 0%, #5BCAFF 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #55EFCB 0%, #5BCAFF 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #55EFCB), color-stop(1, #5BCAFF));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #55EFCB 0%, #5BCAFF 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #55EFCB 0%, #5BCAFF 100%);

}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
    border-style: dashed none none none;
    border-color: #ccc;
    border-width: 4px;
    margin: 50px 10px;
    padding: 10px 0px;
}

.none {
    color: #777;
}

.inc {
  cursor: pointer;
  width: 250px;
  height: 100px;
  display: inline-block;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #87FC70 0%, #0BD318 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #87FC70 0%, #0BD318 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #87FC70 0%, #0BD318 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #87FC70), color-stop(1, #0BD318));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #87FC70 0%, #0BD318 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #87FC70 0%, #0BD318 100%);
}

.inc2 {
  cursor: pointer;
  width: 250px;
  height: 100px;
  display: inline-block;
/* IE10 Consumer Preview */ 
background-image: -ms-linear-gradient(top left, #FF5E3A 0%, #FF2A68 100%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top left, #FF5E3A 0%, #FF2A68 100%);

/* Opera */ 
background-image: -o-linear-gradient(top left, #FF5E3A 0%, #FF2A68 100%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0, #FF5E3A), color-stop(1, #FF2A68));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top left, #FF5E3A 0%, #FF2A68 100%);

/* W3C Markup, IE10 Release Preview */ 
background-image: linear-gradient(to bottom right, #FF5E3A 0%, #FF2A68 100%);
}

.eshop1 {
    width: 200px;
    height: 50px;
    background-color: #2ecc71;
}