<template name="leaderboard">
	<div>
		{{> twitter}}
	</div>
	<div class="leaderboard">
		{{#each players}}
			{{> player}}
		{{/each}}
	</div>

	{{#if selected_name}}
	<div class="details">
		<div class="name">{{selected_name}}</div>
		<input type="button" class="inc" value="Give 10,000 points" />
		<input type="button" class="inc2" value="Reverse 10,000 points" />
	</div>
	{{/if}}

	{{#unless selected_name}}
	<div class="none">Click a person to vote</div>
	{{/unless}}

	<div>
		{{> ecom}}
		<a href="{{pathFor 'eshop'}}" onclick="analytics.track('Viewed Product', {
  id: '507f1f77bcf86cd799439011',
  sku: '45790-32',
  name: 'Monopoly: 3rd Edition',
  price: 18.99
});"><h2>More at the Car Shop</h2></a>
		<a href="{{pathFor 'phones'}}" onclick="analytics.track('Viewed Product', {
  id: '507f1f77bcf86cd799439011',
  sku: '45790-32',
  name: 'iPhone',
  price: 699
});"><h2>More at the Phone Shop</h2></a>
		<a href="{{pathFor 'about'}}" onclick="analytics.track('Clicked on About page', {
});">About</a>
	</div>
</template>